<!-- Окно подтверждения -->
<div id="confirm-popup" style="display: none;">
  <div class="confirm-popup-overlay">
    <div class="confirm-popup-content">
      <div class="confirm-popup-corner-tl"></div>
      <div class="confirm-popup-corner-br"></div>
      
      <div class="confirm-popup-header">
        <h2 id="confirm-popup-title">Подтверждение</h2>
      </div>
      
      <div class="confirm-popup-body">
        <p id="confirm-popup-message">Вы уверены?</p>
      </div>
      
      <div class="confirm-popup-footer">
        <button id="confirm-popup-yes" class="confirm-popup-btn confirm-popup-btn-yes">Да</button>
        <button id="confirm-popup-no" class="confirm-popup-btn confirm-popup-btn-no">Отмена</button>
      </div>
    </div>
  </div>
</div>